a {
  text-decoration: none;
  color: inherit;
}
.nameplate {
  display: flex;
  background-color: white;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #2b026b 1.18%, #7128e7 100%);
  /* border-style: solid; */
  /* border-color: black; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.copyright {
  color: white;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.github-logo {
  display: inline-block;
  margin-left: 10px;
  height: 25px;
}

@media only screen and (max-width: 850px) {
  .copyright {
      font-size: 12px;
  }
  .github-logo {
      height: 15px;
  }
}