.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 20px;
  background: linear-gradient(90deg, #2b026b 1.18%, #7128e7 100%);

  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.header-logo {
  display: flex;
  margin-bottom: 5px;
}

.header-logo > img {
  height: 26px;
}

.header-logo > h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 110%;
  margin-left: 7px;
}

.header >h4 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  
}