main {
  padding: 36px;
}
.form {
  display: grid;
  grid-template: 60px 40px / 1fr 1fr;
  gap: 16px;
}

.form-input {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 10px;
}

.form-button {
  grid-column: 1 / -1;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 5px;
  color: white;
  background: linear-gradient(90deg, #2b026b 1.18%, #7128e7 100%);
  cursor: pointer;
}

.form-button:hover{
  background: linear-gradient(-90deg, #2b026b 1.18%, #7128e7 100%);
}


@media only screen and (max-width: 600px) {
  main {
    padding: 20px;
  }

  .form {
    grid-template: 45px 30px / 1fr 1fr;
    gap: 10px;
  }

  .form-input {
    font-size: 0.7rem;
    border-radius: 5px;
    text-indent: 5px;
  }
  
  .form-button {
    font-size: 0.7rem;
  }
}